.landingForm {
    z-index: 1;
    background-color: white;
    position: relative;
    width: 100%;
    /* transform: translate(-50%, -50%); */
    min-width: 300px;
    max-width: 400px;
    padding: 2rem 2rem;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--card-border-rgb), 0);
}

.landingForm Image {
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 0px;
}

.center {
    padding-top: 10px;
    padding-bottom: 0%;
    /* padding: 4rem 0rem; */
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;

}

.center h2 {
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.landingForm form {
    padding-top: 20px;
}

.btn {
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: var(--border-radius);
    border: 1px solid rgba(var(--card-border-rgb), 0);
}

.title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.formData {
    padding: 10px 0rem;
}

.formData p {
    color: red;
}

.formLabel {
    width: 100%;
    margin: 10px 0rem;
    white-space: pre-wrap;
    font-weight: bold;
}

.formInput {
    margin: 10px 0rem;
    width: 100%;
    height: 40px;
    padding-left: 1rem;
}

.eye_icon {
    z-index: 2;
    position: relative;
    float: right;
    top: -1.80em;
    right: 0.8em;
    display: block;
    cursor: pointer;
}

.input_area {
    width: 100%;
    height: 2.5em;
    line-height: 1.75em;
    margin-right: 0.5em;
    padding: 0.625em 1em;
    font-size: 0.875em;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    appearance: none;
}