.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.landingImage {
  z-index: 0;
}

ul.list {
  list-style-position: inside;
  padding: 10px 0rem;
}

.hint {
  color: #C0C0C0;
  padding: 5px 0rem;
}